streamlit==0.88.0
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.9.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
torchaudio==0.8.1 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
transformers[torch]==4.6.1
